* {
  box-sizing: border-box;
}
html body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 20px;
}
.header-wrapper {
  display: flex;
  width: 100%;
  height: 95px;
  align-items: center;
  justify-content: flex-end;
}
.header-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 95px;
  background-color: #67aefc;
  position: absolute;
  left: 0;
  z-index: -1;
  padding: 0;
  top: 0;
}
header a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 35px;
}
.nav {
  margin-left: auto;
}
.button-header {
  display: block;
  width: 170px;
  height: 37.78px;
  background-color: #75e169;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 30px;
}
.button-header:hover {
  border-color: #ffffff;
  border: 3px solid;
}
.button-header:active {
  background-color: #ffffff;
  color: #67aefc;
  border: none;
}
/* Mobile Menu --------------------------*/
.dropbtn {
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
}
.dropbtn:hover,
.dropbtn:focus {
  transform: scale(1.1);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  background-color: #67aefc;
  min-width: 100%;
  z-index: 1;
  position: absolute;
  top: 94px;
  left: 0;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin-left: 0;
  margin-bottom: 50px;
  margin-top: 45px;
}
.dropdown-content a:hover {
  background-color: #67aefc;
  text-decoration: underline;
}

.show {
  display: block;
}
/* ------------------------------------- */
/* Offer Section ------------------------*/
.offer {
  height: 765px;
  background: url("/image/bg-img-l.png") 0 0 / auto 100% no-repeat,
    url("/image/bg-img-r.png") 100% 45% no-repeat;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 170px;
}
.offer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 0;
}
.button-offer {
  width: 270px;
  height: 60px;
  background: #75e169;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  margin-top: 60px;
}
.button-offer:hover {
  border: 2px solid;
  border-color: #67aefc;
}
.button-offer:active {
  background: #67aefc;
  color: #fff;
}
/* --------------------------------- ----*/

/* Section Accordion --------------------*/
.section-accordion {
  background: #daecff url(/image/bag.149.png) 92% 84% no-repeat;
  height: 100%;
}
.h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
  padding-top: 120px;
  padding-bottom: 70px;
  margin: 0;
}
.section-accordion p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #000000;
  margin-right: 70px;
  margin-bottom: 55px;
}
.accordion {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #111111;
  margin-bottom: 10px;

  background-color: #fff;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border-radius: 15px;
  border: none;
  outline: none;
}
.accordion:nth-child(5) {
  margin-bottom: 120px;
}
.active {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.accordion::before {
  content: url(/image/accordion-dot.svg);
  top: 8px;
  position: relative;
  padding-left: 45px;
  padding-right: 30px;
}
.active::before {
  content: url(/image/accordion-dot-blue.svg);
}
.accordion::after {
  content: url(/image/ChevronDown.svg);
  font-size: 13px;
  color: #777;
  float: right;
  position: relative;
  padding-right: 15px;
  top: 8px;
}

.active::after {
  content: url(/image/ChevronUp.svg);
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
.panel:nth-child(11) {
  margin-bottom: 0;
}
.line {
  border-left: 1px solid #000;
  margin-left: 55px;
  padding-left: 40px;
}
.active:nth-child(11) {
  margin-bottom: 0;
}
.margin-section {
  height: 110px;
  width: 100%;
  background: #daecff;
  position: relative;
  z-index: -1;
}
/* -------------------------------------- */
/* Section Slideshow--------------------- */
.slideshow {
  background: url(/image/slide\ sphere.269.png) 12% 17% no-repeat,
    url(/image/slide\ wave.257\ copy.png) 86% 93% no-repeat;
  width: 100%;
  height: 100%;
}
.slider {
  width: 100%;
  height: 400px;
  /* border: 2px solid black; */
  margin: 30px auto;
  overflow: hidden;
}
.slideshow-container {
  height: 395px;
  width: 3500px;
  /* background: orangered; */
  display: flex;
  gap: 25px;
  align-items: center;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.mySlides {
  display: flex;
  width: 695px;
  height: 390px;
  border-color: #67aefc;
  border-radius: 10px;
  border: #67aefc 2px solid;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 75px;
  padding-right: 10px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #000000;
}
.text-slideshow p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.slideshow-img {
  width: 250px;
  height: 250px;
}
.slideshow-btn {
  margin-top: 85px;
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.prev {
  content: url(/image/btn-prev.svg);
}
.next {
  content: url(/image/btn-next.svg);
}
.prev:active {
  content: url(/image/btn-prev-active.svg);
}
.next:active {
  content: url(/image/btn-next-active.svg);
}
/* -------------------------------------- */

/* Online-shop-example--------------------*/
.online-shop {
  width: 100%;
  height: 100%;
  background: url("/image/shope-wave.242.png") 10% 23% no-repeat,
    url("/image/shop-sphere.269.png") 84% 91% no-repeat;
  background-color: #daecff;
}
.online-shop-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 565px);
  gap: 40px 30px;
  justify-content: center;
  padding-bottom: 120px;
}
.h2-shop {
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
  padding-top: 120px;
  padding-bottom: 50px;
  margin: 0;
}
.image-container {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #67aefc;
  border-radius: 15px;
  text-align: center;
}
.overlay h3 {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  margin: 0;
  padding-top: 210px;
}
.overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #ffffff;
  margin: 0;
}

.image-container:hover .overlay {
  opacity: 1;
}
.shop-flex-1,
.shop-flex-2 {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.shop-slideshow-btn {
  display: none;
}
/* --------------------------------------- */

/* Information Section -----------------*/
.information {
  width: 100%;
  height: 100%;
  background: url(/image/inform-sphere.267.png) 8% 28% no-repeat,
    url(/image/inform-Orders.png) 92% 70% no-repeat;
}
.h2-information {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  color: #111111;
  padding-top: 215px;
}
.information p {
  width: 50%;
}
.button-information {
  width: 270px;
  height: 60px;
  background: #75e169;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 180px;
}
.button-information:hover {
  border: 2px solid;
  border-color: #67aefc;
}
.button-information:active {
  background: #67aefc;
  color: #fff;
}
/* ---------------------------------------- */
/* Form Section -----------------------*/
.form-section {
  width: 100%;
  height: 100%;
  background: url(/image/form-phone\ call.243.png) 12% 86% no-repeat,
    url(/image/form-Group\ 175.png) 80% 40% no-repeat;
  background-color: #daecff;
  text-align: center;
  margin: 0 auto;
}
.form-section h2 {
  padding-top: 180px;
  padding-bottom: 25px;
}
.form-section p {
  padding-bottom: 30px;
}
.form-container {
  width: 100%;
  margin: 0 auto;
}
.input {
  width: 470px;
  height: 58px;
  margin-bottom: 20px;
  background: #ffffff;
  border: 1px solid #6eb1fb;
  box-sizing: border-box;
  border-radius: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #939393;
  padding-left: 14px;
}
input:focus::placeholder {
  color: #292929;
}
.button-form {
  width: 270px;
  height: 60px;
  background: #75e169;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 130px;
}
.button-form:hover {
  border: 2px solid;
  border-color: #67aefc;
}
.button-form:active {
  background: #67aefc;
  color: #fff;
}
/* ----------------------------------- */

/* Footer -----------------------------*/
footer {
  background: #64abf9;
}
.footer-logo {
  width: 280px;
  height: 66px;
  margin-bottom: 45px;
}
footer img {
  margin-right: 38px;
}
.footer-wrapper {
  padding-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 120px;
}
.footer-tel a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-tel a::before {
  content: url(/image/fa-brands_viber.png);
  margin-right: 5px;
  position: relative;
  top: 8px;
}
.footer-email {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #ffffff;
  text-decoration: none;
}
.footer-text {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 0;
  padding-bottom: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #ffffff;
}

/* ----------------------------------- */
@media (max-width: 1750px) {
  .section-accordion {
    background: #daecff;
  }
}
@media (max-width: 1440px) {
  .offer {
    background: url(/image/bg-img-l.png) 0 0 / auto 100% no-repeat,
      url(/image/bg-img-r.png) 125% 66% no-repeat;
  }
  h1 {
    font-size: 47px;
  }
  .online-shop {
    background: none;
    background-color: #daecff;
  }
}
@media (max-width: 1300px) {
  .offer {
    background: url(/image/bg-img-l.png) 0 0 / auto 100% no-repeat,
      url(/image/bg-img-r.png) 150% 66% no-repeat;
  }
  .information {
    background: url(/image/inform-sphere.267.png) 8% 20% no-repeat,
      url(/image/inform-Orders.png) 110% 70% no-repeat;
  }
  .form-section {
    background: url(/image/form-phone\ call.243.png) 1% 86% no-repeat,
      url(/image/form-Group\ 175.png) 92% 40% no-repeat;
    background-color: #daecff;
  }
}
@media (max-width: 1200px) {
  .offer {
    background: url(/image/bg-img-r.png) 225% 0 / auto 100% no-repeat;
  }
}
@media (max-width: 1030px) {
  .offer {
    background: url(/image/bg-img-r.png) 500% 0 / auto 100% no-repeat;
  }
  h1 {
    padding-top: 195px;
  }
  .footer-wrapper {
    flex-direction: column;
  }
  .information p {
    width: 44%;
  }
}
@media (max-width: 975px) {
  .offer {
    background: url(/image/bg-img-r.png) 0 0 / auto 100% no-repeat;
  }
}
@media (max-width: 950px) {
  .nav a {
    display: none;
  }
  .dropbtn {
    display: block;
  }
  .header-wrapper {
    gap: 30px;
  }
  /* Form Section------------------------ */
  .form-section {
    background: none;
    background-color: #daecff;
  }
  .form-section h2 {
    font-size: 23px;
    padding-top: 40px;
    padding-bottom: 15px;
  }
  .form-section p {
    margin-top: 0;
    padding-bottom: 20px;
  }
  .button-form {
    width: 470px;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .button-header {
    display: none;
  }
  .logo {
    width: 136px;
    height: 35px;
  }
  .offer {
    /* display: inline-block; */
    height: 100%;
    background: url(/image/Cart.svg) 12px 4px no-repeat;
  }
  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    color: #000;
    text-transform: uppercase;
    /* margin-top: 140px; */
    margin-bottom: 0;
    padding-top: 445px;
  }
  .button-offer {
    width: 335px;
    height: 60px;
    background: #75e169;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .button-offer:hover {
    border: 2px solid;
    border-color: #67aefc;
  }
  .button-offer:active {
    background: #67aefc;
    color: #fff;
  }
  /* Slideshow Section---------------------- */
  .slideshow {
    background: url(/image/slide\ sphere.269.png) -9% 2% no-repeat;
  }
  .h2 {
    padding-top: 45px;
    padding-bottom: 5px;
  }
  .slider {
    height: 615px;
    width: 335px;
  }
  .slideshow-container {
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
  }
  .mySlides {
    flex-direction: column;
    width: 335px;
    height: 620px;
    padding-left: 35px;
    padding-right: 30px;
  }
  .slideshow-btn {
    gap: 105px;
    margin-top: 30px;
    padding-bottom: 55px;
  }
  .input {
    width: 335px;
  }
  /* -------------------------------

  /* Shop Slider --------------------*/
  .online-shop {
    background: #daecff;
  }
  .h2-shop {
    font-size: 23px;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .shop-slideshow-btn {
    display: block;
    display: flex;
    justify-content: center;
    gap: 105px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .shop-prev {
    content: url(/image/btn-prev.svg);
  }
  .shop-next {
    content: url(/image/btn-next.svg);
  }
  .shop-prev:active {
    content: url(/image/btn-prev-active.svg);
  }
  .shop-next:active {
    content: url(/image/btn-next-active.svg);
  }
  .shop-slider {
    width: 335px;
    height: 840px;
    overflow: hidden;
    margin: 0 auto;
  }
  .online-shop-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    position: relative;
    transition: all ease 1s;
  }
  .grid-example {
    width: 335px;
  }

  .overlay h3 {
    padding-top: 125px;
  }
  .shop-flex-1,
  .shop-flex-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Information Section---------------------- */
  .information {
    background: none;
  }
  .h2-information {
    font-size: 23px;
    padding-top: 45px;
    text-align: center;
  }
  .h2-information::before {
    content: url(/image/shape\ sphere.269.png);
    position: relative;
    top: -74px;
    left: 264px;
  }
  .h2-information::after {
    content: url(/image/information-mobile.png);
    position: relative;
    top: 30px;
  }
  .information p {
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    color: #111111;
    padding-top: 30px;
    text-align: center;
  }
  .button-information {
    width: 334px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .btn-info {
    text-align: center;
  }
  /* -------------------------------------- */

  /* Form section -----------------------*/
  .button-form {
    width: 335px;
    margin-top: 20px;
  }
}
@media (max-width: 585px) {
  .offer-text {
    font-size: 14px;
  }
  .h2 {
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
    color: #111111;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
  }
  .accordion {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .accordion::before {
    content: url(/image/accordion-dot.svg);
    top: -2px;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    left: -15px;
    width: 15px;
    height: 15px;
  }
  .accordion::after {
    content: url(/image/ChevronDown.svg);
    font-size: 13px;
    color: #777;
    float: right;
    position: relative;
    padding-right: 15px;
    top: 8px;
  }
  .accordeon-1::after {
    padding-left: 83px;
  }
  .accordeon-5::after {
    padding-left: 130px;
  }
  .line {
    margin-left: 20px;
    padding-left: 20px;
  }
  .section-accordion p {
    font-size: 17px;
    margin-right: 40px;
  }
  .active::before {
    content: url(/image/accordion-dot-blue.svg);
  }
  .active::after {
    content: url(/image/ChevronUp.svg);
  }
}

/* Iphone 11 pro ----------------------*/
@media (max-width: 375px) {
  .button-header {
    display: none;
  }
  .logo {
    width: 136px;
    height: 35px;
  }
  .offer {
    display: inline-block;
    height: 100%;
    background: url("/image/iPhone\ 11\ Pro/mobile-bg.png") 0 0 / contain
      no-repeat;
  }
  h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    color: #000;
    text-transform: uppercase;
    margin-top: 140px;
    margin-bottom: 0;
    padding-top: 170px;
  }
  .offer-text {
    font-size: 12px;
  }
  .button-offer {
    width: 335px;
    height: 60px;
    background: #75e169;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .button-offer:hover {
    border: 2px solid;
    border-color: #67aefc;
  }
  .button-offer:active {
    background: #67aefc;
    color: #fff;
  }
  .h2 {
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
    color: #111111;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
  }
  .accordion {
    font-size: 17px;
    display: flex;
    align-items: center;
  }
  .accordion::before {
    content: url(/image/accordion-dot.svg);
    top: -2px;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    left: -15px;
    width: 15px;
    height: 15px;
  }
  .accordion::after {
    content: url(/image/ChevronDown.svg);
    font-size: 13px;
    color: #777;
    float: right;
    position: relative;
    padding-right: 15px;
    top: 8px;
  }
  .accordeon-1::after {
    padding-left: 83px;
  }
  .accordeon-5::after {
    padding-left: 130px;
  }
  .line {
    margin-left: 20px;
    padding-left: 20px;
  }
  .section-accordion p {
    font-size: 17px;
    margin-right: 40px;
  }
  .active::before {
    content: url(/image/accordion-dot-blue.svg);
  }
  .active::after {
    content: url(/image/ChevronUp.svg);
  }

  /* Slideshow Section---------------------- */
  .slideshow {
    background: url(/image/slide\ sphere.269.png) -9% 2% no-repeat;
  }
  .h2 {
    padding-top: 45px;
    padding-bottom: 5px;
  }
  .slider {
    height: 615px;
  }
  .slideshow-container {
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
  }
  .mySlides {
    flex-direction: column;
    width: 335px;
    height: 620px;
    padding-left: 35px;
    padding-right: 30px;
  }
  .slideshow-btn {
    gap: 105px;
    margin-top: 30px;
    padding-bottom: 55px;
  }

  /* ------------------------------- */

  /* Shop Slider --------------------*/
  .online-shop {
    background: #daecff;
  }
  .h2-shop {
    font-size: 23px;
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .shop-slideshow-btn {
    display: block;
    display: flex;
    justify-content: center;
    gap: 105px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .shop-prev {
    content: url(/image/btn-prev.svg);
  }
  .shop-next {
    content: url(/image/btn-next.svg);
  }
  .shop-prev:active {
    content: url(/image/btn-prev-active.svg);
  }
  .shop-next:active {
    content: url(/image/btn-next-active.svg);
  }
  .shop-slider {
    width: 100%;
    height: 840px;
    overflow: hidden;
  }
  .online-shop-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    position: relative;
    transition: all ease 1s;
  }
  .grid-example {
    width: 335px;
  }

  .overlay h3 {
    padding-top: 125px;
  }
  .shop-flex-1,
  .shop-flex-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  /* Information Section---------------------- */
  .information {
    background: none;
  }
  .h2-information {
    font-size: 23px;
    padding-top: 45px;
    text-align: center;
  }
  .h2-information::before {
    content: url(/image/shape\ sphere.269.png);
    position: relative;
    top: -74px;
    left: 264px;
  }
  .h2-information::after {
    content: url(/image/information-mobile.png);
    position: relative;
    top: 30px;
  }
  .information p {
    width: 100%;
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    color: #111111;
    padding-top: 30px;
  }
  .button-information {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  /* -------------------------------------- */

  /* Form Section------------------------ */
  .form-section {
    background: none;
    background-color: #daecff;
  }
  .form-section h2 {
    font-size: 23px;
    padding-top: 40px;
    padding-bottom: 15px;
  }
  .form-section p {
    margin-top: 0;
    padding-bottom: 20px;
  }
  .input {
    width: 100%;
  }

  .button-form {
    width: 100%;
    margin-top: 20px;
  }
  form::after {
    content: url(/image/Postpaid.png);
    position: relative;
    left: 9%;
    bottom: 64px;
  }
  /* -------------------------------------- */
  .footer-wrapper {
    flex-direction: column;
  }
  /* -------------------------------- */
}

/* ----------------------------- */
