* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.header-wrapper {
  display: flex;
  width: 100%;
  height: 95px;
  align-items: center;
  justify-content: flex-end;
}
.header-wrapper::before {
  content: "";
  display: block;
  width: 100%;
  height: 95px;
  background-color: #67aefc;
  position: absolute;
  left: 0;
  z-index: -1;
  padding: 0;
  top: 0;
}
header a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  margin-left: 35px;
}
.nav {
  margin-left: auto;
}
.button-header {
  width: 170px;
  height: 37.78px;
  background-color: #75e169;
  border: none;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  margin-left: 30px;
}
.button-header:hover {
  border-color: #ffffff;
  border: 3px solid;
}
.button-header:active {
  background-color: #ffffff;
  color: #67aefc;
  border: none;
}
/* Mobile Menu --------------------------*/
.dropbtn {
  cursor: pointer;
  transition: all 0.5s ease;
  display: none;
}
.dropbtn:hover,
.dropbtn:focus {
  transform: scale(1.1);
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  background-color: #67aefc;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
.dropdown-content a:hover {
  background-color: #67aefc;
  text-decoration: underline;
}

.show {
  display: block;
}
/* ------------------------------------- */
/* Offer Section ------------------------*/
.offer {
  height: 765px;
  background: url("/image/bg-img-l.png") 0 0 / auto 100% no-repeat,
    url("/image/bg-img-r.png") 100% 45% no-repeat;
}

h1 {
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #484848;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 170px;
}
.offer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 0;
}
.button-offer {
  width: 270px;
  height: 60px;
  background: #75e169;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  margin-top: 60px;
}
.button-offer:hover {
  border: 2px solid;
  border-color: #67aefc;
}
.button-offer:active {
  background: #67aefc;
  color: #fff;
}
/* --------------------------------- ----*/

/* Section Accordion --------------------*/
.section-accordion {
  background: #daecff url(/image/bag.149.png) 92% 84% no-repeat;
  height: 100%;
}
.h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
  text-align: center;
  color: #111111;
  padding-top: 120px;
  padding-bottom: 70px;
  margin: 0;
}
.section-accordion p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #000000;
  margin-right: 70px;
  margin-bottom: 55px;
}
.accordion {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 175%;
  color: #111111;
  margin-bottom: 10px;

  background-color: #fff;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border-radius: 15px;
  border: none;
  outline: none;
}
.accordion:nth-child(5) {
  margin-bottom: 120px;
}
.active {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.accordion::before {
  content: url(/image/accordion-dot.svg);
  top: 8px;
  position: relative;
  padding-left: 45px;
  padding-right: 30px;
}
.active::before {
  content: url(/image/accordion-dot-blue.svg);
}
.accordion::after {
  content: url(/image/ChevronDown.svg);
  font-size: 13px;
  color: #777;
  float: right;
  position: relative;
  padding-right: 15px;
  top: 8px;
}

.active::after {
  content: url(/image/ChevronUp.svg);
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
}
.panel:nth-child(11) {
  margin-bottom: 0;
}
.line {
  border-left: 1px solid #000;
  margin-left: 55px;
  padding-left: 40px;
}
.active:nth-child(11) {
  margin-bottom: 0;
}
.margin-section {
  height: 110px;
  width: 100%;
  background: #daecff;
  position: relative;
  z-index: -1;
}
/* -------------------------------------- */
/* Section Slideshow--------------------- */
.slideshow {
  background: url(/image/slide\ sphere.269.png) 12% 17% no-repeat,
    url(/image/slide\ wave.257\ copy.png) 86% 93% no-repeat;
  width: 100%;
  height: 100%;
}
.slider {
  width: 100%;
  height: 400px;
  /* border: 2px solid black; */
  margin: 30px auto;
  overflow: hidden;
}
.slideshow-container {
  height: 395px;
  width: 3500px;
  /* background: orangered; */
  display: flex;
  gap: 25px;
  align-items: center;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.mySlides {
  display: flex;
  width: 695px;
  height: 390px;
  border-color: #67aefc;
  border-radius: 10px;
  border: #67aefc 2px solid;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 75px;
  padding-right: 10px;
}
.h3-slideshow {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 125%;
  color: #000000;
}
.text-slideshow p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.slideshow-img {
  width: 250px;
  height: 250px;
}
.slideshow-btn {
  margin-top: 85px;
  margin-bottom: 130px;
  text-align: center;
}
.prev {
  content: url(/image/btn-prev.png);
}
.next {
  content: url(/image/btn-next.svg);
}
/* -------------------------------------- */
@media (max-width: 1750px) {
  .section-accordion {
    background: #daecff;
  }
}
@media (max-width: 950px) {
  .nav a {
    display: none;
  }
  .dropbtn {
    display: block;
  }
  .header-wrapper {
    gap: 30px;
  }
}
